/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root{
  --light:#f7f2f2;
  --white:#ffffff;
  --dark:#000000;
  --light-dark:#ded5d5;
  --navy:#1e506ff3;
  --danger:#ea0c0cf3;
  --gray:#423f3f;
  --orange:#cf410d;
}
body{
  background-color: var(--light-dark);
}
body,h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
  padding: 0px;
 
}

nav{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  /* box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
}
nav > a{
  text-decoration: none;
  margin-top: 0.6rem;
  color: var(--orange);
  
}

.main-container{
  /* background-color: var(--dark); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  gap: 1rem;
  /* border: 2px solid var(--dark); */
  background: url("https://cdn.pixabay.com/photo/2022/09/04/14/42/blue-flowers-7431881__480.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--light-dark);
}

.main-container input{
  width: 70%;
 padding: 1rem;
 font-size: 2rem;
 outline: none;
 border: none;
 border-radius: 30px;
 
}
.main-container > h3{
  font-size: 2rem;
}
.no-found{
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  color: var(--danger);
}
.container{
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row;
}

.item{
  width: 12rem;
  height: 8rem;
  background-color: var(--white);
  color: var(--dark);
  margin: 0.5rem;
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s linear;
  align-self: stretch;
  /* align-items: center; */
  
}
.item:hover{
  background-color: var(--navy);
  color: var(--white);
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0.2rem 0.2rem 0.5rem var(--navy);
}

.copied{
  background-color: var(--gray);
  color: var(--white);
}
.emoji{
  font-size: 3rem;
  
}

.text{
  font-size: 1.5rem;
  margin-top: 0.3rem;
}

